body{
	background-color: #ccffff
}
div.other{
	
}
div.main-content{
	width: 85%;
	background: rgb(51, 153, 255);
}
div.sidebar{
	width: 15%;	
}
div.content{
	overflow:auto
}
article, side, footer,header,section{
	display: block;
}
article,header,footer,aside{
	background: rgb(153, 204, 255);
	padding:10px;
}
article{
	margin-left: 15px;
	margin-bottom:15px;
}